.container {
  display: inline-block;
  background-color: turquoise;
  width: 100%;
  height: 100vh;
}

/*temporary*/
.top {
  background-color: turquoise;
}
.main {
  background-color: antiquewhite;
}

.footer {
  background-color: azure;
}
